<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.eenie.wgj">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    //地图包、搜索包需要的基础权限

    <!--允许程序打开网络套接字-->
    <!--允许程序设置内置sd卡的写权限-->
    <!--允许程序获取网络状态-->
    <!--允许程序访问WiFi网络信息-->
    <!--允许程序读写手机状态和身份-->
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="380a05008184897997e202e6c41600e5">
        </meta-data>

        <activity android:name=".ui.SplashActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"
        />
        <activity android:name=".ui.login.LoginActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"
        />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!--个人中心基本信息-->
        <activity android:name=".ui.personal.information.PersonalBaseInfoActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <!--个人信息的二维码-->
        <activity android:name=".ui.personal.information.PersonalBarcodeActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--绑定银行卡-->
        <activity android:name=".ui.personal.information.PersonalBindBankActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--绑定保安证号-->
        <activity android:name=".ui.personal.information.PersonalSecurityActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!--个人信息-->
        <activity android:name=".ui.personal.information.PersonalInformationActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--提醒设置-->
        <activity android:name=".ui.personal.alert.PersonalMessageAlertActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--考勤设置-->
        <activity android:name=".ui.personal.alert.AttendanceWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--报岗设置-->
        <activity android:name=".ui.personal.alert.ReportWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--巡检提醒-->
        <activity android:name=".ui.personal.alert.RountingWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--版本检查更新-->
        <activity android:name=".ui.personal.alert.CheckoutVersionActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.bean.JsonDataActivity"/>


        <!--消息-->

        <!--待办事项-->
        <activity android:name=".ui.message.ToDoNoticeActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--待办事项详情-->
        <activity android:name=".ui.message.ApplyFeedBackActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|adjustPan"/>
        <!--通知-->
        <activity android:name=".ui.message.NoticeMessageActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <!--生日提醒-->
        <activity android:name=".ui.message.BirthdayAlertActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.message.BirthdayDetailPersonalActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.message.BirthdayGiftActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--异常提醒-->
        <activity android:name=".ui.message.AbnormalHandleNotifyActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.message.AbnormalDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.message.GalleryActivity"
                  android:screenOrientation="portrait"
        />

        <activity android:name=".search.TestMyActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--联系人详情-->
        <activity android:name=".ui.contacts.ContactsDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <!--项目设置-->
        <activity android:name=".ui.project.ProjectSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--项目新建-->
        <activity android:name=".ui.project.NewBuildProjectActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--//编辑项目-->
        <activity android:name=".ui.project.ProjectEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--项目设置的具体内容设置-->
        <activity android:name=".ui.project.ProjectItemSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--关键人物信息设置-->
        <activity android:name=".ui.project.keypersonal.KeyPersonalSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--关键人物信息详情-->
        <activity android:name=".ui.project.keypersonal.KeyPersonalDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--编辑关键联系人信息-->
        <activity android:name=".ui.project.keypersonal.KeyPersonalEditDetail"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--添加关键联系人信息-->
        <activity android:name=".ui.project.keypersonal.AddKeyPersonalInformationActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--交接班设置-->
        <activity android:name=".ui.project.exchangework.ExchangeWorkSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--交班设置详情-->
        <activity android:name=".ui.project.exchangework.ExchangeWorkDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--编辑交班设置-->
        <activity android:name=".ui.project.exchangework.ExchangeWorkEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--添加交接班-->
        <activity android:name=".ui.project.exchangework.AddExchangeWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--岗位培训设置-->
        <activity android:name=".ui.project.worktraining.WorkTrainingSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--岗位培训设置详情-->
        <activity android:name=".ui.project.worktraining.WorkTrainingDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--添加岗位培训设置-->
        <activity android:name=".ui.project.worktraining.AddTrainingWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--编辑岗位培训设置-->
        <activity android:name=".ui.project.worktraining.EditTrainingWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--班次设置-->
        <activity android:name=".ui.project.classmeeting.ClassMeetingSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--班次详情-->
        <activity android:name=".ui.project.classmeeting.ClassMeetingItemDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--考勤设置-->
        <activity android:name=".ui.project.attendance.AttendanceSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--选择城市-->
        <activity android:name=".ui.project.attendance.SelectCityActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.project.attendance.SearchAddressDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.project.attendance.SearchAddressActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--岗位设置-->
        <activity android:name=".ui.project.workpost.WorkPostSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--岗位设置详情-->
        <activity android:name=".ui.project.workpost.WorkPostDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.project.workpost.WorkPostEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.project.workpost.WorkPostAddActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--报岗设置-->
        <activity android:name=".ui.project.reportpost.ReportPostSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--报岗详情-->
        <activity android:name=".ui.project.reportpost.ReportPostDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--报岗编辑-->
        <activity android:name=".ui.project.reportpost.ReportPostEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--报岗添加-->
        <activity android:name=".ui.project.reportpost.ReportPostAddActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--巡检点设置-->
        <activity android:name=".ui.project.roundpoint.RoundPointSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--巡检点详情-->
        <activity android:name=".ui.project.roundpoint.RoundPointDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--巡检点更新-->
        <activity android:name=".ui.project.roundpoint.RoundPointEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--添加巡检点-->
        <activity android:name=".ui.project.roundpoint.RoundPointAddActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!--巡检线路-->
        <activity android:name=".ui.project.roundway.RoundWaySettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--添加巡检线路-->
        <activity android:name=".ui.project.roundway.AddRoundWayActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--编辑巡检线路-->
        <activity android:name=".ui.project.roundway.EditRoundWayActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--巡检圈数设置-->
        <activity android:name=".ui.project.roundway.CycleNumberSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--巡检圈数详情-->
        <activity android:name=".ui.project.roundway.CycleNumberDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--编辑巡检圈数item-->
        <activity android:name=".ui.project.roundway.EditCycleRoundActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--添加巡检圈数-->
        <activity android:name=".ui.project.roundway.AddCycleRoundActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--项目工时设置-->
        <activity android:name=".ui.project.projecttime.ProjectTotalTimeSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--项目工时-->
        <activity android:name=".ui.project.projecttime.ProjectTimeSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.project.projecttime.ProjectTimePersonalSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--排班设置-->
        <activity android:name=".ui.project.sortclass.SortClassSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.project.sortclass.SortClassSettingTestActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.project.sortclass.SelectLineActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--添加班次人员-->
        <activity android:name=".ui.project.sortclass.AddPersonalClassActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.project.sortclass.TestWebView"/>



        <!--工作秀-->
        <activity android:name=".ui.workshow.WorkShowListActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--添加工作秀-->
        <activity android:name=".ui.workshow.AddWorkShowActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!--随手拍-->
        <activity android:name=".ui.takephoto.TakePhotoSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--所手拍详情-->
        <activity android:name=".ui.takephoto.TakePhotoDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.takephoto.AddTakePhotoActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.takephoto.SelectReportPeopleActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--签到-->
        <activity android:name=".ui.attendance.SignInAttendanceActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--考勤记录-->
        <activity android:name=".ui.attendance.AttendanceRecordActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--考勤-->
        <activity android:name=".ui.attendance.AttendanceActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendance.AttendanceAbnormalActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.login.SurfaceViewActivity"/>
        <activity android:name=".ui.mytest.MyTestMain"/>
        <activity android:name=".ui.attendance.sign.AttendanceTestSignInActivity"/>
        <activity android:name=".ui.project.projectpersonal.ProjectPersonalSetting"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.project.projectpersonal.AddProjectPersonalActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendance.TakePhotoActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendance.sign.AttendanceTokePhotoActivity"/>
        <!--外出原因-->
        <activity android:name=".ui.attendance.sign.SignExtraMsgActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--考勤签退-->
        <activity android:name=".ui.attendance.signout.AttendanceSignOutActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--考勤统计-->
        <activity android:name=".ui.attendancestatistics.AttendanceStatisticsActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--项目下每月考勤情况-->
        <activity android:name=".ui.attendancestatistics.AttendanceStaticsMonthActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendancestatistics.AttendanceStaticsMonthDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <!--个人工时-->
        <!--<activity android:name=""-->

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"/>


        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="org.eenie.wgj.fileprovider"-->
        <!--android:grantUriPermissions="true"-->
        <!--android:exported="false">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/filepaths" />-->
        <!--</provider>-->
        <!--<service android:name="cn.jpush.android.service.PushService"-->
        <!--android:process=":multiprocess"-->
        <!--tools:node="replace" >-->

        <!--</service>-->
        <!--<service-->
        <!--android:name="cn.jpush.android.service.PushService"-->
        <!--android:enabled="true"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="cn.jpush.android.intent.REGISTER" />-->
        <!--<action android:name="cn.jpush.android.intent.REPORT" />-->
        <!--<action android:name="cn.jpush.android.intent.PushService" />-->
        <!--<action android:name="cn.jpush.android.intent.PUSH_TIME" />-->
        <!--</intent-filter>-->
        <!--</service>-->


        <receiver
            android:name=".receiver.JpushMessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.ACTION_NOTIFICATION_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <category android:name="org.eenie.wgj"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>