<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.eenie.wgj">


    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <!-- 4.2以上的手机需要的权限 -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <!-- 访问INTERNET的权限 -->
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
    </uses-permission>
    <!-- 手机信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE">
    </uses-permission>
    <!-- ************************************* -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <!-- 在SD卡中创建文件与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 传感器 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA">
    </uses-permission>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-permission android:name="com.meilapp.meila.permission.MIPUSH_RECEIVE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    //地图包、搜索包需要的基础权限

    <!--允许程序打开网络套接字-->
    <!--允许程序设置内置sd卡的写权限-->
    <!--允许程序获取网络状态-->
    <!--允许程序访问WiFi网络信息-->
    <!--允许程序读写手机状态和身份-->
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="380a05008184897997e202e6c41600e5">
        </meta-data>

        <activity android:name=".ui.SplashActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name= ".LoadResActivity"-->
        <!--android:launchMode= "singleTask"-->
        <!--android:process= ":mini"-->
        <!--android:alwaysRetainTaskState= "false"-->
        <!--android:excludeFromRecents= "true"-->
        <!--android:screenOrientation= "portrait" />-->
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"
        />
        <activity android:name=".ui.login.LoginActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"
        />
        <activity android:name=".ui.login.SelectCityRegisterActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!--个人中心基本信息-->
        <activity android:name=".ui.personal.information.PersonalBaseInfoActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <!--个人信息的二维码-->
        <activity android:name=".ui.personal.information.PersonalBarcodeActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--绑定银行卡-->
        <activity android:name=".ui.personal.information.PersonalBindBankActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--绑定保安证号-->
        <activity android:name=".ui.personal.information.PersonalSecurityActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!--个人信息-->
        <activity android:name=".ui.personal.information.PersonalInformationActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--提醒设置-->
        <activity android:name=".ui.personal.alert.PersonalMessageAlertActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--考勤设置-->
        <activity android:name=".ui.personal.alert.AttendanceWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--报岗设置-->
        <activity android:name=".ui.personal.alert.ReportWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--巡检提醒-->
        <activity android:name=".ui.personal.alert.RountingWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--版本检查更新-->
        <activity android:name=".ui.personal.alert.CheckoutVersionActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.bean.JsonDataActivity"/>
        <!--身份证剪切框-->
        <activity android:name="me.zhouzhuo810.cameracardcrop.CropActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

        <!--消息-->

        <!--待办事项-->
        <activity android:name=".ui.message.ToDoNoticeActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--待办事项详情-->
        <activity android:name=".ui.message.ApplyFeedBackActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|adjustPan"/>
        <!--通知-->
        <activity android:name=".ui.message.NoticeMessageActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <!--生日提醒-->
        <activity android:name=".ui.message.BirthdayAlertActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.message.BirthdayDetailPersonalActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.message.BirthdayGiftActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--异常提醒-->
        <activity android:name=".ui.message.AbnormalHandleNotifyActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.message.AbnormalDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.message.GalleryActivity"
                  android:screenOrientation="portrait"
        />

        <activity android:name=".search.TestMyActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--联系人详情-->
        <activity android:name=".ui.contacts.ContactsDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <!--项目设置-->
        <activity android:name=".ui.project.ProjectSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--项目新建-->
        <activity android:name=".ui.project.NewBuildProjectActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--//编辑项目-->
        <activity android:name=".ui.project.ProjectEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--项目设置的具体内容设置-->
        <activity android:name=".ui.project.ProjectItemSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--关键人物信息设置-->
        <activity android:name=".ui.project.keypersonal.KeyPersonalSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--关键人物信息详情-->
        <activity android:name=".ui.project.keypersonal.KeyPersonalDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--编辑关键联系人信息-->
        <activity android:name=".ui.project.keypersonal.KeyPersonalEditDetail"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--添加关键联系人信息-->
        <activity android:name=".ui.project.keypersonal.AddKeyPersonalInformationActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--交接班设置-->
        <activity android:name=".ui.project.exchangework.ExchangeWorkSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--交班设置详情-->
        <activity android:name=".ui.project.exchangework.ExchangeWorkDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--编辑交班设置-->
        <activity android:name=".ui.project.exchangework.ExchangeWorkEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--添加交接班-->
        <activity android:name=".ui.project.exchangework.AddExchangeWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--岗位培训设置-->
        <activity android:name=".ui.project.worktraining.WorkTrainingSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--岗位培训设置详情-->
        <activity android:name=".ui.project.worktraining.WorkTrainingDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--添加岗位培训设置-->
        <activity android:name=".ui.project.worktraining.AddTrainingWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--编辑岗位培训设置-->
        <activity android:name=".ui.project.worktraining.EditTrainingWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--班次设置-->
        <activity android:name=".ui.project.classmeeting.ClassMeetingSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--班次详情-->
        <activity android:name=".ui.project.classmeeting.ClassMeetingItemDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--考勤设置-->
        <activity android:name=".ui.project.attendance.AttendanceSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--选择城市-->
        <activity android:name=".ui.project.attendance.SelectCityActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.project.attendance.SearchAddressDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.project.attendance.SearchAddressActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--岗位设置-->
        <activity android:name=".ui.project.workpost.WorkPostSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--岗位设置详情-->
        <activity android:name=".ui.project.workpost.WorkPostDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.project.workpost.WorkPostEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.project.workpost.WorkPostAddActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--报岗设置-->
        <activity android:name=".ui.project.reportpost.ReportPostSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--报岗详情-->
        <activity android:name=".ui.project.reportpost.ReportPostDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--报岗编辑-->
        <activity android:name=".ui.project.reportpost.ReportPostEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--报岗添加-->
        <activity android:name=".ui.project.reportpost.ReportPostAddActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--巡检点设置-->
        <activity android:name=".ui.project.roundpoint.RoundPointSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--巡检点详情-->
        <activity android:name=".ui.project.roundpoint.RoundPointDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--巡检点更新-->
        <activity android:name=".ui.project.roundpoint.RoundPointEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--添加巡检点-->
        <activity android:name=".ui.project.roundpoint.RoundPointAddActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!--巡检线路-->
        <activity android:name=".ui.project.roundway.RoundWaySettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--添加巡检线路-->
        <activity android:name=".ui.project.roundway.AddRoundWayActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--编辑巡检线路-->
        <activity android:name=".ui.project.roundway.EditRoundWayActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--巡检圈数设置-->
        <activity android:name=".ui.project.roundway.CycleNumberSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--巡检圈数详情-->
        <activity android:name=".ui.project.roundway.CycleNumberDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--编辑巡检圈数item-->
        <activity android:name=".ui.project.roundway.EditCycleRoundActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--添加巡检圈数-->
        <activity android:name=".ui.project.roundway.AddCycleRoundActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--项目工时设置-->
        <activity android:name=".ui.project.projecttime.ProjectTotalTimeSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--项目工时-->
        <activity android:name=".ui.project.projecttime.ProjectTimeSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.project.projecttime.ProjectTimePersonalSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--排班设置-->
        <activity android:name=".ui.project.sortclass.SortClassSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.project.sortclass.SortClassSettingTestActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.project.sortclass.SelectLineActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--添加班次人员-->
        <activity android:name=".ui.project.sortclass.AddPersonalClassActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.project.sortclass.TestWebView"/>


        <!--工作秀-->
        <activity android:name=".ui.workshow.WorkShowListActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--添加工作秀-->
        <activity android:name=".ui.workshow.AddWorkShowActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!--随手拍-->
        <activity android:name=".ui.takephoto.TakePhotoSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--所手拍详情-->
        <activity android:name=".ui.takephoto.TakePhotoDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.takephoto.AddTakePhotoActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.takephoto.SelectReportPeopleActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--签到-->
        <activity android:name=".ui.attendance.SignInAttendanceActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--考勤记录-->
        <activity android:name=".ui.attendance.AttendanceRecordActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--考勤排名-->

        <activity android:name=".ui.attendance.attendancesort.AttendanceSortMonthItemActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendance.attendancesort.AttendanceSortTeamMonthItemActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.attendance.attendancesort.AttendanceFightingSortMonthItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <!--考勤-->

        <activity android:name=".ui.attendance.AttendanceActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendance.AttendanceAbnormalActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ui.login.SurfaceViewActivity"/>
        <activity android:name=".ui.mytest.MyTestMain"/>/>
        <activity android:name=".ui.attendance.sign.AttendanceTestSignInActivity"/>
        <activity android:name=".ui.project.projectpersonal.ProjectPersonalSetting"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.project.projectpersonal.AddProjectPersonalActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendance.TakePhotoActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendance.sign.AttendanceTokePhotoActivity"/>
        <!--外出原因-->
        <activity android:name=".ui.attendance.sign.SignExtraMsgActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--考勤签退-->
        <activity android:name=".ui.attendance.signout.AttendanceSignOutActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--考勤统计-->
        <activity android:name=".ui.attendancestatistics.AttendanceStatisticsActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--项目下每月考勤情况-->
        <activity android:name=".ui.attendancestatistics.AttendanceStaticsMonthActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendancestatistics.AttendanceStaticsMonthDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--月度综合排名详情-->
        <activity android:name=".ui.attendancestatistics.AttendanceSortMonthActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--月度团队排名-->
        <activity android:name=".ui.attendancestatistics.AttendanceSortTeamMonthActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendancestatistics.AttendanceRecorderMonthActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--月加油榜-->
        <activity android:name=".ui.attendancestatistics.AttendanceFightingSortActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--考勤的原因-->
        <activity android:name=".ui.attendancestatistics.AttendanceCauseActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendancestatistics.AttendanceLeaveEarlyActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendancestatistics.AttendanceNewEmplyeesActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendancestatistics.AttendanceLeaveActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendancestatistics.AttendanceGoOutActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendancestatistics.AttendanceSecondedActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendancestatistics.AttendancePracticeActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendancestatistics.AttendanceAbsoluteActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--巡检-->
        <activity android:name=".ui.routinginspection.RoutingInspectionActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--上报信息-->
        <activity android:name=".ui.routinginspection.ReportInformationActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--上报异常信息详情-->
        <activity android:name=".ui.routinginspection.report.DetailShowActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.routinginspection.startrouting.RoutingStartSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.routinginspection.startrouting.RoutingCircleNumberDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.routinginspection.startrouting.RoutingPointDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.routinginspection.startrouting.RoutingPointUploadActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.routinginspection.startrouting.AddManagerPeopleActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.routinginspection.record.RoutingRecordActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.routinginspection.record.RoutingRecordItemActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.routinginspection.record.RoutingRecordItemDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.routinginspection.TestMapViewActivity"/>
        <!--巡检统计-->
        <activity android:name=".ui.routingstatistics.RoutingStatisticsSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--筛选巡检统计-->
        <activity android:name=".ui.routingstatistics.RoutingStaticsItemDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--每个人某月的巡检统计-->
        <activity android:name=".ui.routingstatistics.RoutingStaticsDetailMonthActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <!--巡检-->
        <activity android:name=".ui.reportpost.ReportPostSettingUploadActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.attendance.AttendanceTestActivity"/>
        <activity android:name=".ui.attendance.signout.AttendanceTestTwoActivity">
            <intent-filter>
                <action android:name=".ui.attendance.signout.AttendanceTestTwoActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--该岗位下信息-->
        <activity android:name=".ui.reportpost.ReportPostSettingFirstActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.reportpost.ReportPostDetailItemActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--点位详情-->
        <activity android:name=".ui.reportpost.ReportPostPointDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--报岗统计-->
        <activity android:name=".ui.reportpoststatistics.ReportPostStatisticsSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--上报点位-->
        <activity android:name=".ui.reportpost.UploadReportPostInfoActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.reportpost.GallerysActivity"
                  android:screenOrientation="portrait"
        />
        <!--报岗统计表-->
        <activity android:name=".ui.reportpoststatistics.ReportStatisticActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--每月未报岗-->
        <activity android:name=".ui.reportpoststatistics.ReportNoDayStatisticActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--每天未报岗-->
        <activity android:name=".ui.reportpoststatistics.ReportPostNoDayStatisticActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.reportpoststatistics.ReportDayStatisticActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.reportpoststatistics.ReportActualPointItemActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.reportpoststatistics.ReportPostStatusMapViewActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--培训-->
        <activity android:name=".ui.train.TrainStudySettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--岗位培训-->
        <activity android:name=".ui.train.TrainingPostActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--关键人物培训-->
        <activity android:name=".ui.train.TrainingKeyPersonalActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--培训统计-->
        <activity android:name=".ui.trainstatistic.TrainingStatisticSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".ui.trainstatistic.TrainingStatisticProjectActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <!--会议设置-->
        <activity android:name=".ui.meeting.MeetingSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--发起会议-->
        <activity android:name=".ui.meeting.launchmeeting.LaunchMeetingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.meeting.launchmeeting.HostPeopleActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.meeting.launchmeeting.AddPeopleSelectActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.meeting.ApplyMeetingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.meeting.launchmeeting.AddMeetingClassActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--会议反馈-->
        <activity android:name=".ui.meeting.MeetingFeedbackActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.meeting.MeetingFeedbackDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--会议安排-->
        <activity android:name=".ui.meeting.MeetingArrangeActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.meeting.fragment.MeetingEndDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--未开始会议详情-->
        <activity android:name=".ui.meeting.fragment.MeetingUnstartDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.meeting.fragment.MeetingProgressDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.meeting.fragment.SignInMeetingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.scan.ScanActivity"/>

        <!--交接班模块-->
        <activity android:name=".ui.exchangeclass.ExchangeWorkClassSetting"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.exchangeclass.ExchangeWorkClassDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.exchangeclass.AddManagerExchangeClassPeopleActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.noticemessage.NoticeMessageActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.project.projecttime.ProjectSettingPersonalTimeActivity"/>
        <!--通知详情-->
        <activity android:name=".ui.message.NoticeDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".MainTestPictureActivity"/>
        <activity android:name=".ui.attendance.sign.MySignCameraActivity"/>
        <activity android:name=".ui.login.camera.CameraActivity"
                  android:screenOrientation="landscape"/>
        <activity android:name=".ui.camera.TakeCameraTestActivity"/>

        <activity android:name=".ui.train.TrainingNewPagerSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".MainTestPictureOneActivity"/>

        <!--勤奋榜-->
        <activity android:name=".ui.attendancestatistics.NewAttendanceFirstActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--优秀榜-->
        <activity android:name=".ui.attendancestatistics.NewAttendanceSortMonthActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--加油榜-->
        <activity android:name=".ui.attendancestatistics.NewAttendanceFightingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--离职人员-->
        <activity android:name=".ui.attendancestatistics.AttendanceLeaveOutActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--公告的详情-->
        <activity android:name=".ui.noticemessage.NoticeMessageDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--添加公告-->
        <activity android:name=".ui.noticemessage.AddNoticeMessageActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--公告推送给指定部门-->
        <activity android:name=".ui.noticemessage.ApplyDepartmentActivity"/>
        <!--交接班历史记录-->
        <activity android:name=".ui.exchangeclass.ExchangeClassHistoryRecordActivity"/>
        <!--交接班历史记录详情-->
        <activity android:name=".ui.exchangeclass.ExchangeHistoryItemDetailActivity"/>

        <!-- ImagePicker 相关配置 -->
        <activity android:name="com.linchaolong.android.imagepicker.cropper.CropImageActivity"
                  android:theme="@style/Base.Theme.AppCompat"/>
        <!--个人项目工时设置（新）-->
        <activity android:name=".ui.project.projecttime.ProjectSettingPersonalTimeNewActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>



        <!--<activity android:name=".ui.meeting.MeetingClassApplyPartActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="adjustResize"/>-->


        <!--个人工时-->
        <!--<activity android:name=""-->

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"/>

        <service android:name=".ui.routinginspection.startrouting.LocationService"/>
        <service android:name=".ui.routinginspection.startrouting.MLocationService"/>


        <receiver
            android:name=".receiver.JpushMessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.ACTION_NOTIFICATION_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <category android:name="org.eenie.wgj"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>