<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.eenie.wgj">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>


    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    //地图包、搜索包需要的基础权限


    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--极光推送的key:eb9f37bf4603be2e556a4cfc   secret: fae1cafac9ca0712a066dc15-->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ui.SplashActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"
        />
        <activity android:name=".ui.login.LoginActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"
        />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!--个人中心基本信息-->
        <activity android:name=".ui.personal.information.PersonalBaseInfoActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <!--个人信息的二维码-->
        <activity android:name=".ui.personal.information.PersonalBarcodeActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--绑定银行卡-->
        <activity android:name=".ui.personal.information.PersonalBindBankActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--绑定保安证号-->
        <activity android:name=".ui.personal.information.PersonalSecurityActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>

        <!--个人信息-->
        <activity android:name=".ui.personal.information.PersonalInformationActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--提醒设置-->
        <activity android:name=".ui.personal.alert.PersonalMessageAlertActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--考勤设置-->
        <activity android:name=".ui.personal.alert.AttendanceWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--报岗设置-->
        <activity android:name=".ui.personal.alert.ReportWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--巡检提醒-->
        <activity android:name=".ui.personal.alert.RountingWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--版本检查更新-->
        <activity android:name=".ui.personal.alert.CheckoutVersionActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.bean.JsonDataActivity"/>


        <!--消息-->

        <!--待办事项-->
        <activity android:name=".ui.message.ToDoNoticeActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--待办事项详情-->
        <activity android:name=".ui.message.ApplyFeedBackActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|adjustPan"/>
        <!--通知-->
        <activity android:name=".ui.message.NoticeMessageActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>

        <!--生日提醒-->
        <activity android:name=".ui.message.BirthdayAlertActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.message.BirthdayDetailPersonalActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.message.BirthdayGiftActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--异常提醒-->
        <activity android:name=".ui.message.AbnormalHandleNotifyActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.message.AbnormalDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.message.GalleryActivity"
                  android:screenOrientation="portrait"
        />

        <activity android:name=".search.TestMyActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--联系人详情-->
        <activity android:name=".ui.contacts.ContactsDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--考勤-->
        <activity android:name=".ui.attendance.AttendanceActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--项目设置-->
        <activity android:name=".ui.project.ProjectSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--项目新建-->
        <activity android:name=".ui.project.NewBuildProjectActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--//编辑项目-->
        <activity android:name=".ui.project.ProjectEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--项目设置的具体内容设置-->
        <activity android:name=".ui.project.ProjectItemSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--关键人物信息设置-->
        <activity android:name=".ui.project.keypersonal.KeyPersonalSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--关键人物信息详情-->
        <activity android:name=".ui.project.keypersonal.KeyPersonalDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--编辑关键联系人信息-->
        <activity android:name=".ui.project.keypersonal.KeyPersonalEditDetail"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--添加关键联系人信息-->
        <activity android:name=".ui.project.keypersonal.AddKeyPersonalInformationActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--交接班设置-->
        <activity android:name=".ui.project.exchangework.ExchangeWorkSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--交班设置详情-->
        <activity android:name=".ui.project.exchangework.ExchangeWorkDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--编辑交班设置-->
        <activity android:name=".ui.project.exchangework.ExchangeWorkEditActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--添加交接班-->
        <activity android:name=".ui.project.exchangework.AddExchangeWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--岗位培训设置-->
        <activity android:name=".ui.project.worktraining.WorkTrainingSettingActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--岗位培训设置详情-->
        <activity android:name=".ui.project.worktraining.WorkTrainingDetailActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"/>
        <!--添加岗位培训设置-->
        <activity android:name=".ui.project.worktraining.AddTrainingWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--编辑岗位培训设置-->
        <activity android:name=".ui.project.worktraining.EditTrainingWorkActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustPan"/>
        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="org.eenie.wgj.fileprovider"-->
        <!--android:grantUriPermissions="true"-->
        <!--android:exported="false">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/filepaths" />-->
        <!--</provider>-->
        <!--<service android:name="cn.jpush.android.service.PushService"-->
        <!--android:process=":multiprocess"-->
        <!--tools:node="replace" >-->

        <!--</service>-->
        <!--<service-->
        <!--android:name="cn.jpush.android.service.PushService"-->
        <!--android:enabled="true"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="cn.jpush.android.intent.REGISTER" />-->
        <!--<action android:name="cn.jpush.android.intent.REPORT" />-->
        <!--<action android:name="cn.jpush.android.intent.PushService" />-->
        <!--<action android:name="cn.jpush.android.intent.PUSH_TIME" />-->
        <!--</intent-filter>-->
        <!--</service>-->


        <receiver
            android:name=".receiver.JpushMessageReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.ACTION_NOTIFICATION_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <category android:name="org.eenie.wgj"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>